version: '3'

services:

  nginx:
    build:
      args:
        - NGINX_VERSION=${D_NGINX_VERSION}
        - HTTP_PORT=${D_HTTP_PORT}
        - HTTPS_PORT=${D_HTTP_PORT}
        - CERT_CONTENT=${D_SSL_CERT_CONTENT}
      context: .
      dockerfile: ./docker/webservers/nginx/Dockerfile
    env_file: .env
    networks:
      project:
    ports:
      - "80:80"
      - "443:443"
    restart: on-failure
    volumes:
        - ./docker/webservers/nginx/conf:/etc/nginx/conf.d/:rw
        - ./:/var/www/html

  apache:
    build:
      args:
        - HTTP_PORT=${D_HTTP_PORT}
        - HTTPS_PORT=${D_HTTP_PORT}
        - PHP_PORT=${D_PHP_PORT}
        - CERT_CONTENT=${D_SSL_CERT_CONTENT}
      context: .
      dockerfile: ./docker/webservers/apache/Dockerfile
    env_file: .env
    networks:
      project:
    ports:
      - "80:80"
      - "443:443"
    restart: on-failure
    volumes:
      - ./docker/webservers/apache/conf/vhosts:/etc/apache2/sites-available/:rw
      - ./:/var/www/html

  php:
    build:
      args:
        # General PHP vars
        - PHP_VERSION=${D_PHP_VERSION}
        - PHP_PORT=${D_PHP_PORT}
        - CERT_CONTENT=${D_SSL_CERT_CONTENT}

        # XDebug
        - PHP_XDEBUG_REMOTE_PORT=${D_PHP_XDEBUG_REMOTE_PORT}

        # PHP modules
        ## XDebug
        - INSTALL_XDEBUG=${D_INSTALL_XDEBUG}
        - X_REMOTE_ENABLE=${D_PHP_XDEBUG_REMOTE_ENABLE}
        - X_REMOTE_HOST=${D_PHP_XDEBUG_REMOTE_HOST}
        - X_REMOTE_AUTOSTART=${D_PHP_XDEBUG_REMOTE_AUTOSTART}
        - X_REMOTE_PORT=${D_PHP_XDEBUG_REMOTE_PORT}
        - X_IDEKEY=${D_PHP_XDEBUG_IDEKEY}
        - X_LOG_DIR=${D_PHP_XDEBUG_LOG_DIR}
        ## Other PHP modules
        - INSTALL_PHPREDIS=${D_INSTALL_PHPREDIS}
        - INSTALL_INTL=${D_INSTALL_INTL}
        - INSTALL_IMAGIK=${D_INSTALL_IMAGIK}
        - INSTALL_PGSQL=${D_INSTALL_PGSQL}
        - INSTALL_MYSQL=${D_INSTALL_MYSQL}
        - INSTALL_MCRYPT=${D_INSTALL_MCRYPT}

        # FE tools
        - PREFERRED_NODE_VERSION=${D_PREFERRED_NODE_VERSION}
        - INSTALL_NVM=${D_INSTALL_NVM}
        - INSTALL_YARN=${D_INSTALL_YARN}
        - INSTALL_SASS=${D_INSTALL_SASS}
        - INSTALL_GULP=${D_INSTALL_GULP}
      context: .
      dockerfile: ./docker/php/Dockerfile
    env_file: .env
    environment:
      - PHP_IDE_CONFIG=serverName=docker-server
    networks:
      project:
      database:
    volumes:
      - ./:/var/www/html

  mysql:
    build:
      args:
        - MYSQL_VERSION=${D_MYSQL_VERSION}
        - MYSQL_USER=${D_MYSQL_USER}
        - MYSQL_ROOT_PASSWORD=${D_MYSQL_ROOT_PASSWORD}
      context: .
      dockerfile: ./docker/mysql/Dockerfile
    env_file: .env
    networks:
      project:
      database:
        aliases:
          - mysql
    ports:
      - "33060:3306"
    restart: on-failure
    volumes:
      - ./docker/mysql/mydata:/var/lib/mysql/:rw

  postgres:
    build:
      args:
        - POSTGRES_VERSION=${D_POSTGRES_VERSION}
        - POSTGRES_USER=${D_POSTGRES_USER}
        - POSTGRES_PASSWORD=${D_POSTGRES_PASSWORD}
      context: .
      dockerfile: ./docker/postgres/Dockerfile
    env_file: .env
    networks:
      project:
      database:
        aliases:
          - postgres
    ports:
      - "54320:5432"
    restart: on-failure
    volumes:
        - pgdata:/var/lib/postgresql/data/:rw

  redis:
    image: redis:alpine
    ports:
      - "63790:6379"

networks:
  project:
  database:

volumes:
  pgdata: {}
