version: '3'

services:

  web:
    build:
      context: ./
      dockerfile: ./docker/webserver/Dockerfile
    env_file: .env.docker
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - ./:/var/www/html
    links:
        - php
        - mysql
        - redis
        - postgres

  php:
    build:
      args:
        - INSTALL_XDEBUG=true
        - INSTALL_PHPREDIS=true
        - INSTALL_INTL=true
        - INSTALL_IMAGIK=false
        - INSTALL_PGSQL=true
        - INSTALL_MYSQL=false
      context: ./
      dockerfile: ./docker/php/Dockerfile
    env_file: .env.docker
    environment:
      - XDEBUG_CONFIG=remote_host=192.168.99.1 remote_port=9001 remote_connect_back=0 idekey=PHPSTORM
      - PHP_IDE_CONFIG=serverName=docker-server
    volumes:
        - ./:/var/www/html

  mysql:
    build:
      context: ./
      dockerfile: ./docker/mysql/Dockerfile
    environment:
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=mysecret
    ports:
      - "33060:3306" # host:docker-machine
    volumes:
      - ./docker/mysql/volume:/var/lib/mysql/:rw # stateful container => persistent DB

  postgres:
    build:
      context: ./
      dockerfile: ./docker/postgres/Dockerfile
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=mysecret
    ports:
      - "54320:5432" # host:docker-machine
    volumes:
      - ./docker/postgres/volume:/var/lib/postgresql/:rw # stateful container => persistent DB


  redis:
    image: redis:alpine
