#################
# Example VHost #
#################

# The Alias directive can be useful to map a BE to the same domain of the FE

# If the request is made via HTTP, it will be safely redirected to HTTPS
<VirtualHost *:80>
    ServerName example.test
    Redirect / https://example.test
</VirtualHost>

<VirtualHost *:443>
    DocumentRoot "/var/www/html"
    ErrorLog "/var/www/logs/example_test_log"
    ServerName example.test
    # Alias /api "/var/www/html/PATH/TO/ALIASED/DIR"
    SSLEngine on
    SSLCertificateFile "/opt/docker/etc/httpd/ssl/server.crt"
    SSLCertificateKeyFile "/opt/docker/etc/httpd/ssl/server.key"
</VirtualHost>
